@media (max-width: 768px) {
    .header {
        height: 100px;
        background-color: #1c2031;
        display: flex;
        align-items: center;
        justify-content: start;
    
        &__title{
            color: #e9eaee;
            margin-left: 30px;
            font-size: x-large;
        }
    
        &__search {
            display: none;
            background-color: transparent;
            border-bottom: 2px solid #e9eaee;
            height: 40px;
            width: 300px;
            margin-right: 200px;
            padding-top: 10px;
    
            &--input {
                width: 85%;
                background-color: transparent;
                border-color: transparent;
                outline: none;
                color: white;
    
                &::placeholder {
                    color: #e9eaee;
                    font-size: large;
                }
            }
    
            &--icon {
                color: #e9eaee;
                font-size: x-large;
            }
        }
    
    
        &__shoppingIcon {
            color: #e9eaee;
            font-size: x-large;
            margin-left: 20px;
    
            &--number{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: red;
                color: white;
                margin-top: 40px;
                margin-left: -10px;
                text-align: center;
            }
        }
    
        &__userIcon {
            color: #e9eaee;
            font-size: x-large;
            margin-left: 20px;
        }
    
        &__homeIcon {
            color: #e9eaee;
            font-size: x-large;
            margin-left: 60px;
            // margin-right: 60px;
        }
    
        &__barsIcon {
            color: #e9eaee;
            font-size: x-large;
            margin-left: 30px;
        }
    
    }
    
}

