@media (max-width: 768px) {
    .slide {
        background-image: url(./images/bbbb.jpg);
        background-size: cover;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__img {
            height: 250px;
        }

        &__text {
            display: none;
        }
    }

    .slideDisplay {
        display: none;
    }


    .secondSlide {
        background-image: url(./images/slide\ show2.jpg);
        background-size: cover;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;



        &__text {
            background-color: rgba(213, 213, 213, 0.5);
            color: white;
            font-size: 16px;
            height: 300px;
            width: 300px;
            padding:0px 10px;
        }

        &__img {
            display: none;
            height: 200px;
            margin-bottom: 100px;
        }


    }

    .secondSlideDisplay {
        display: none;
    }
}