

.slide {
    background-image: url(./images/bbbb.jpg);
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
        height: 350px;
    }

    &__text {
        background-color: rgba(213, 213, 213, 0.7);
        color: black;
        font-size: larger;
        height: 200px;
        width: 700px;
        margin-top: 150px;
        margin-left: 30px;
        padding: 10px;
    }
}

.slideDisplay {
    display: none;
}


.secondSlide {
    background-image: url(./images/slide\ show2.jpg);
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;



    &__text {
        background-color: rgba(213, 213, 213, 0.5);
        color: white;
        font-size: larger;
        height: 200px;
        width: 700px;
        margin-top: 200px;
        margin-right: 30px;
        padding: 10px;
    }

    &__img {
        height: 300px;
        margin-bottom: 100px;
    }


}

.secondSlideDisplay {
    display: none;
}