* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e9eaee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  .header {
    height: 100px;
    background-color: #1c2031;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header__title {
    color: #e9eaee;
    margin-left: 290px;
    margin-right: 600px;
  }
  .header__search {
    background-color: transparent;
    border-bottom: 2px solid #e9eaee;
    height: 40px;
    width: 300px;
    margin-right: 200px;
    padding-top: 10px;
  }
  .header__search--input {
    width: 85%;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    color: white;
  }
  .header__search--input::-webkit-input-placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--input::-moz-placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--input:-ms-input-placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--input::-ms-input-placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--input::placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--icon {
    color: #e9eaee;
    font-size: x-large;
  }
  .header__shoppingIcon {
    color: #e9eaee;
    font-size: xx-large;
    margin-left: 20px;
  }
  .header__shoppingIcon--number {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
    margin-top: 40px;
    margin-left: -10px;
    text-align: center;
  }
  .header__userIcon {
    color: #e9eaee;
    font-size: xx-large;
    margin-left: 80px;
  }
  .header__homeIcon {
    color: #e9eaee;
    font-size: xx-large;
    margin-left: 80px;
    margin-right: 60px;
  }
  .header__barsIcon {
    color: #e9eaee;
    font-size: xx-large;
    margin-left: 50px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 100px;
    background-color: #1c2031;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header__title {
    color: #e9eaee;
    margin-left: 30px;
    font-size: x-large;
  }
  .header__search {
    display: none;
    background-color: transparent;
    border-bottom: 2px solid #e9eaee;
    height: 40px;
    width: 300px;
    margin-right: 200px;
    padding-top: 10px;
  }
  .header__search--input {
    width: 85%;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    color: white;
  }
  .header__search--input::-webkit-input-placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--input::-moz-placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--input:-ms-input-placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--input::-ms-input-placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--input::placeholder {
    color: #e9eaee;
    font-size: large;
  }
  .header__search--icon {
    color: #e9eaee;
    font-size: x-large;
  }
  .header__shoppingIcon {
    color: #e9eaee;
    font-size: x-large;
    margin-left: 20px;
  }
  .header__shoppingIcon--number {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    margin-top: 40px;
    margin-left: -10px;
    text-align: center;
  }
  .header__userIcon {
    color: #e9eaee;
    font-size: x-large;
    margin-left: 20px;
  }
  .header__homeIcon {
    color: #e9eaee;
    font-size: x-large;
    margin-left: 60px;
  }
  .header__barsIcon {
    color: #e9eaee;
    font-size: x-large;
    margin-left: 30px;
  }
}
@media (min-width: 768px) {
  .selected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    width: 100%;
    height: 80vh;
    margin-right: 190px;
  }
  .selected__img {
    width: 400px;
  }
  .selected__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 650px;
    margin-left: 100px;
  }
  .selected__data--title {
    font-size: xx-large;
  }
  .selected__data--description {
    font-size: larger;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .selected__data--price {
    color: rgb(101, 21, 21);
    font-size: x-large;
    margin-bottom: 40px;
  }
  .selected__data--btn {
    border: none;
    background-color: #336941;
    color: white;
    font-size: large;
    width: 200px;
    min-height: 50px;
  }
}
@media (max-width: 768px) {
  .selected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 100%;
  }
  .selected__img {
    width: 200px;
    margin-top: 50px;
  }
  .selected__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 350px;
    margin-bottom: 30px;
  }
  .selected__data--title {
    font-size: large;
    width: 300px;
  }
  .selected__data--description {
    font-size: large;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .selected__data--price {
    color: rgb(101, 21, 21);
    font-size: large;
    margin-bottom: 40px;
  }
  .selected__data--btn {
    border: none;
    background-color: #336941;
    color: white;
    font-size: large;
    width: 200px;
    min-height: 50px;
  }
}
@media (min-width: 768px) {
  .bars {
    background-color: #336941;
    width: 290px;
    height: 400px;
    margin-left: 50px;
    position: absolute;
    top: 80px;
    display: none;
  }
  .barsItem {
    color: #1c2031;
    cursor: pointer;
    font-style: oblique;
    font-size: xx-large;
    line-height: 1;
  }
  .barsItem:hover {
    scale: 1.1;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    border-bottom: 1px solid #1c2031;
  }
  .showBars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .bars {
    background-color: #336941;
    width: 260px;
    height: 400px;
    margin-left: 30px;
    position: absolute;
    top: 80px;
    display: none;
  }
  .barsItem {
    color: #1c2031;
    cursor: pointer;
    font-style: oblique;
    font-size: xx-large;
    line-height: 1;
  }
  .barsItem:hover {
    scale: 1.1;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    border-bottom: 1px solid #1c2031;
  }
  .showBars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .slide {
    background-image: url(./images/bbbb.jpg);
    background-size: cover;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide__img {
    height: 350px;
  }
  .slide__text {
    background-color: rgba(213, 213, 213, 0.7);
    color: black;
    font-size: larger;
    height: 200px;
    width: 700px;
    margin-top: 150px;
    margin-left: 30px;
    padding: 10px;
  }
  .slideDisplay {
    display: none;
  }
  .secondSlide {
    background-image: url(./images/slide\ show2.jpg);
    background-size: cover;
    height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .secondSlide__text {
    background-color: rgba(213, 213, 213, 0.5);
    color: white;
    font-size: larger;
    height: 200px;
    width: 700px;
    margin-top: 200px;
    margin-right: 30px;
    padding: 10px;
  }
  .secondSlide__img {
    height: 300px;
    margin-bottom: 100px;
  }
  .secondSlideDisplay {
    display: none;
  }
}
@media (max-width: 768px) {
  .slide {
    background-image: url(./images/bbbb.jpg);
    background-size: cover;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide__img {
    height: 250px;
  }
  .slide__text {
    display: none;
  }
  .slideDisplay {
    display: none;
  }
  .secondSlide {
    background-image: url(./images/slide\ show2.jpg);
    background-size: cover;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .secondSlide__text {
    background-color: rgba(213, 213, 213, 0.5);
    color: white;
    font-size: 16px;
    height: 300px;
    width: 300px;
    padding: 0px 10px;
  }
  .secondSlide__img {
    display: none;
    height: 200px;
    margin-bottom: 100px;
  }
  .secondSlideDisplay {
    display: none;
  }
}
@media (min-width: 768px) {
  .root {
    margin: auto;
    margin-top: 50px;
    margin-left: 250px;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rootDisplay {
    display: none;
  }
  .firstHomeCards {
    margin: auto;
    margin-top: 50px;
    margin-left: 150px;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .firstHomeCards__card {
    width: 350px;
    height: 410px;
    margin-right: 80px;
    margin-bottom: 50px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstHomeCards__card--img {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .firstHomeCards__card--img--inner {
    width: 70%;
    height: 230px;
  }
  .firstHomeCards__card--title {
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
  }
  .firstHomeCards__card--price {
    font-size: large;
    color: rgb(98, 95, 95);
    margin-left: 200px;
  }
  .firstHomeCards__btn {
    margin: auto;
    margin-bottom: 70px;
    width: 250px;
    height: 70px;
    background-color: #336941;
    color: white;
    font-size: x-large;
    padding-left: 30px;
    padding-top: 16px;
    cursor: pointer;
  }
  .firstHomeCards__btnDisplay {
    display: none;
  }
  .secondHomeCards {
    margin: auto;
    margin-top: 50px;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .secondHomeCards__card {
    width: 350px;
    height: 410px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .secondHomeCards__card--img {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .secondHomeCards__card--img--inner {
    width: 70%;
    height: 230px;
  }
  .secondHomeCards__card--title {
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
  }
  .secondHomeCards__card--price {
    font-size: large;
    color: rgb(98, 95, 95);
    margin-left: 200px;
  }
  .secondHomeCardsDisplay {
    display: none;
  }
}
@media (max-width: 768px) {
  .root {
    margin: auto;
    margin-top: 50px;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rootDisplay {
    display: none;
  }
  .firstHomeCards {
    margin: auto;
    margin-top: 50px;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .firstHomeCards__card {
    width: 350px;
    height: 410px;
    margin-bottom: 50px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firstHomeCards__card--img {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .firstHomeCards__card--img--inner {
    width: 70%;
    height: 230px;
  }
  .firstHomeCards__card--title {
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
  }
  .firstHomeCards__card--price {
    font-size: large;
    color: rgb(98, 95, 95);
    margin-left: 200px;
  }
  .firstHomeCards__btn {
    margin: auto;
    margin-bottom: 70px;
    width: 250px;
    height: 70px;
    background-color: #336941;
    color: white;
    font-size: x-large;
    padding-left: 30px;
    padding-top: 16px;
    cursor: pointer;
  }
  .firstHomeCards__btnDisplay {
    display: none;
  }
  .secondHomeCards {
    margin: auto;
    margin-top: 50px;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .secondHomeCards__card {
    width: 350px;
    height: 410px;
    margin-bottom: 50px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .secondHomeCards__card--img {
    width: 100%;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .secondHomeCards__card--img--inner {
    width: 70%;
    height: 230px;
  }
  .secondHomeCards__card--title {
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
  }
  .secondHomeCards__card--price {
    font-size: large;
    color: rgb(98, 95, 95);
    margin-left: 200px;
  }
  .secondHomeCardsDisplay {
    display: none;
  }
}
@media (min-width: 768px) {
  .basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    height: 300px;
    background-color: white;
    margin-bottom: 50px;
  }
  .basket__img {
    width: 400px;
    margin-left: 60px;
  }
  .basket__img--inner {
    height: 200px;
  }
  .basket__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 30px;
    width: 300px;
  }
  .basket__info--title {
    font-size: larger;
    margin-left: 20px;
    margin-right: 20px;
  }
  .basket__info--price {
    font-size: large;
    color: rgb(98, 95, 95);
    margin-left: 200px;
  }
  .basket__btn {
    margin: auto;
    width: 220px;
    height: 65px;
    background-color: #336941;
    color: white;
    font-size: x-large;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    background-color: white;
    margin-bottom: 50px;
  }
  .basket__img {
    width: 200px;
    margin-top: 30px;
  }
  .basket__img--inner {
    width: 100%;
  }
  .basket__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
  }
  .basket__info--title {
    font-size: larger;
  }
  .basket__info--price {
    font-size: large;
    color: rgb(98, 95, 95);
  }
  .basket__btn {
    margin: auto;
    width: 170px;
    height: 55px;
    background-color: #336941;
    color: white;
    font-size: large;
    cursor: pointer;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */